<div class="register-container">
  <div class="register-card">
    <h1>Registrati</h1>
    <form>
      <input
        type="text"
        class="form-control mb-3"
        placeholder="Username"
        name="username"
        [(ngModel)]="formData.username"
      />
      <input
        type="email"
        class="form-control mb-3"
        placeholder="Email"
        name="email"
        [(ngModel)]="formData.email"
      />
      <input
        type="text"
        class="form-control mb-3"
        placeholder="Nome"
        name="nome"
        [(ngModel)]="formData.nome"
      />
      <input
        type="text"
        class="form-control mb-3"
        placeholder="Cognome"
        name="cognome"
        [(ngModel)]="formData.cognome"
      />
      <input
        type="text"
        class="form-control mb-3"
        placeholder="Telefono"
        name="telefono"
        [(ngModel)]="formData.telefono"
      />
      <input
        type="password"
        class="form-control mb-3"
        placeholder="Password"
        name="password"
        [(ngModel)]="formData.password"
      />
      <button (click)="register()" class="btn btn-primary">Registrati</button>
    </form>
  </div>
</div>
