<div class="container">
  <div class="row">
    <div class="col text-center">
      <h2>Benvenuti su TrovaCasa</h2>
      <p>Il sito dove puoi trovare l'immobile dei tuoi sogni con facilità.</p>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-12 col-md-8">
      <div class="video-container">
        <iframe width="100%" height="315" src="https://www.youtube.com/embed/T3NffyvCy-8" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-12 col-md-6 col-lg-3 mb-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Ricerca Avanzata</h5>
          <p class="card-text">Trova l'immobile perfetto con i nostri filtri avanzati.</p>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-3 mb-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Contatto Diretto</h5>
          <p class="card-text">Contatta direttamente i venditori senza intermediari.</p>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-3 mb-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Guarda con un click</h5>
          <p class="card-text">Guarda ogni dettaglio del tuo immobile con un click.</p>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-3 mb-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Prenota il tuo appuntamento</h5>
          <p class="card-text">Prenota il tuo appuntamento con un semplice click.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-12 col-md-6">
      <h2>Ricerca Avanzata</h2>
      <p class="card-text">Utilizza la nostra piattaforma per filtrare in base a prezzo, posizione, numero di stanze, e molto altro. Non lasciare nulla al caso nella tua ricerca: rendi il tuo percorso verso la casa dei sogni semplice ed efficace con i nostri strumenti avanzati. La nostra interfaccia intuitiva ti consente di affinare i risultati in base a criteri specifici, garantendo che ogni proprietà visualizzata corrisponda alle tue esigenze. Scopri una nuova dimensione di precisione e facilità nella ricerca della tua casa perfetta con i nostri potenti filtri personalizzabili.</p>
    </div>
    <div class="col-12 col-md-6">
      <img src="/assets/images.jpeg" alt="Ricerca Avanzata">
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-12 col-md-6">
      <h2>Contatto Diretto</h2>
      <p class="card-text">Contatta direttamente i venditori senza intermediari. La nostra piattaforma permette una comunicazione trasparente e immediata con i proprietari degli immobili, eliminando le commissioni di agenzie e facilitando un'interazione più personale. Parla direttamente con chi conosce meglio la proprietà e ottieni risposte rapide e precise a tutte le tue domande. Così, trovare la tua casa ideale diventa un processo più veloce ed efficiente, con tutte le informazioni di cui hai bisogno a portata di mano.</p>
    </div>
    <div class="col-12 col-md-6">
      <img src="/assets/istockphoto-1409298953-612x612.jpg" alt="Contatto Diretto">
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-12 col-md-6">
      <h2>Guarda con un click</h2>
      <p class="card-text">Guarda ogni dettaglio del tuo immobile con un click. La nostra piattaforma ti permette di esplorare ogni angolo della tua futura casa con facilità e precisione. Utilizzando tecnologie avanzate, puoi visualizzare foto ad alta risoluzione e tour virtuali, tutto a portata di mano. Non dovrai più immaginare come potrebbe essere la tua nuova casa: potrai vedere ogni dettaglio come se fossi lì di persona. Scopri la comodità di avere tutte le informazioni visive di cui hai bisogno con un semplice click, e fai la tua scelta in modo informato e sicuro.</p>
    </div>
    <div class="col-12 col-md-6">
      <img src="/assets/photo-1520607162513-77705c0f0d4a.jpeg" alt="Guarda con un click">
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-12 col-md-6">
      <h2>Prenota il tuo appuntamento</h2>
      <p class="card-text">Prenota il tuo appuntamento con un semplice click. La nostra piattaforma è progettata per rendere la programmazione delle visite un gioco da ragazzi. Con pochi click, puoi selezionare la data e l'ora che meglio si adattano al tuo programma e confermare l'appuntamento in tempo reale. Nessun bisogno di infiniti scambi di email o telefonate: la tua prenotazione avviene in modo rapido e senza stress. Questo significa che puoi concentrarti su ciò che conta davvero: trovare la casa dei tuoi sogni. Prova la nostra funzione di prenotazione facile e risparmia tempo prezioso nel tuo percorso verso una nuova casa.</p>
    </div>
    <div class="col-12 col-md-6">
      <img src="/assets/istockphoto-1497684257-612x612.jpg" alt="Prenota il tuo appuntamento">
    </div>
  </div>
</div>
